<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="Add">
    <h2> Udpdate: </h2>
    <form method="POST" action="/expenses/{{ expense_id }}/" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
            <tr>
                <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Go" class="Buton">
    </form>
</div>
</body>

</html>